<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PizzaHutSuite">

    <parameter name="location" value="HSR Layout"/>
    <parameter name="name" value="Shilpa"/>
    <parameter name="mobile" value="9876543210"/>
    <parameter name="email" value="shilpa@test.com"/>
    <parameter name="voucher" value="12345"/>
    <parameter name="deliveryAddress" value="27th Main Road"/>

    <test name="pizzahut001">

        <classes>
            <class name="tests.PizzaHutTest"/>
        </classes>

    </test>

</suite>